* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: hsl(35, 50%, 95%);
}

.home-page {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h2 {
  padding: 10px;
}

p {
  padding-left: 15px;
  line-height: 1.4;
}

header {
    height: 125px;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.bGa-Su7vft6HKX5fnmZBvgHaEK?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* zachowuje proporcje, może przyciąć */
}

header h1 {
    padding: 12px 20px;
    color: white;
}

nav {
    background-color: hsl(240, 100%, 70%);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: hsl(240, 100%, 80%);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 160px;
  z-index: 1000;
  flex-direction: column;
}

.dropdown:hover .submenu {
  display: block;
}

.submenu li a {
  padding: 10px 15px;
  color: white;
}

.submenu li a:hover {
  background-color: #666;
}

main {
  flex: 1;
}

.images {
  display: flex;
}

.images img {
  max-width: 30vw;
  margin: 1.5vw;
}

footer {
  height: 10px;
  background-color: hsl(240, 100%, 40%);
}

/* Grid layout dla trener*/
.container{
    display: grid;
    grid-template-areas: "header header header"
    "image content content"
    "header2 header2 header2"
    "tre1 tre2 tre3";

    grid-template-columns: 1fr 2fr 1fr; /* 1fr - jeden ułamek*/
    background-color: dodgerblue;
    width: 100%;
    row-gap: 1rem; /*“root em”, a unit of measurement that represents the font size of the root element.  */
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.content {
  grid-area: content;
  width: 95%;
}

.container section.photo{
  grid-area: image;
  padding: 1rem;
}

/* > - bezposrednie dziecko*/
.container .photo > img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease; /* zmiana zajmuje 0.4 sekundy i jest płynna ease*/
  /*transition: property duration timing-function;*/
}

.container .photo:hover img {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25); /*cień pod obrazem, żeby wyglądał jak unoszący się nad tłem.*/
  /* przesunięcie w poziomie, przesunięcie w pionie, rzomycie, kolor*/
}

.container div.tre1{
  grid-area: tre1;
}

.container div.tre2{
  grid-area: tre2;
}

.container div.tre3{
  grid-area: tre3;
}

.container div.header2{
  grid-area: header2;
  text-align: center;
}

.container p{
  font-size: 1.2rem;
}

.container h3{
  font-size: 1.3rem;
  text-align: center;
}

.container h2{
  font-size: 2rem;
  color: burlywood;
}

.container .tre1:hover {
  transform: translateY(-5px) scale(1.02); /* przesuwa element do góry o 5px i powiększa o 2%*/
  box-shadow: 0 8px 16px rgba(0,0,0,0.15); /*delikatny cień pod elementem, aby wyglądał jak unoszący się nad tłem */
  background-color: #f0f8ff; 
}
.container .tre2:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  background-color: #f0f8ff; /* tło przy najechaniu */
}

.container .tre3:hover {
  transform: translateY(-5px) scale(1.0);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  background-color: #f0f8ff; 
}

.spec{
  background-color: hsla(240, 100%, 70%, 0.434);
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 2rem;
  border-radius: 12px;
}

.spec li{
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .container{
    display: grid;
    grid-template-areas: "header header header"
    "image image image"
    "content content content"
    "header2 header2 header2"
    "tre1 tre2 tre3";

    grid-template-columns: 1fr 1fr 1fr;
    background-color: dodgerblue;
    width: 100%;

    row-gap: 1rem;
  }
  .container .photo{
    max-width: 400px;
    justify-content:center ;
    align-items: center;
  }
}